.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(1fr, auto);
    grid-template-areas: 
    "hd"
    "bdc"
    "blog"
    "ft";
}


.hero{
    grid-area: hd;
    height: 60vh;
    background-image: url(../images/blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb {
    grid-area: bdc;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 5% 0;
}

.breadcrumb a{
    color: black;
    text-decoration: none;
}

.breadcrumb li::before {
    content: " > ";
}

.breadcrumb li:last-child::after {
    content: " > ";
}
    
.breadcrumb li:first-child::before {
    content: "";
}

h1 {
    font-size: 2rem;
    margin: 0 10%;
}
h2 {
    margin:0 10%;
}
p {
    margin: 5% 10%;
}

.advert {
    grid-area: advert;
}
article {
    grid-area: blog;
}

article > ul {
    margin: 0 20%;
    line-height: 2rem;
    font-size: 1.2rem;
}

#side-advert-1 {
    display: none;
}

.mb-advert > img {
    width: 100%;
    margin-bottom: 5%;
}

footer {
    grid-area: ft;
}

@media only screen
and (min-width: 1200px){
    .container{
        grid-template-columns: 0.2fr 1fr;
        grid-template-areas: 
        "hd hd"
        "bdc bdc"
        "advert  blog"
        "ft ft";
    }
    .breadcrumb {
        margin: 5% 10%;
    }

    article > ul {
        line-height: 3.5rem;
        font-size: 2rem;
    }

    article > p {
        line-height: 3.5rem;
    }

    #side-advert-1 {
        display: block;
    }
    #side-advert-1 > img{
        width: 100%;
    }
    .mb-advert {
        display: none;
    }
}